.App {
}

.App-logo {
  text-align: left;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white; 
}

.App-title {
  font-size: 1.1em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

